:root {
    --dark: #13293d;
    --light: #fff;
    --theme: #F24BED;
    --border: lightgrey; 
}

* {
    /* border: dashed 1px var(--theme); */
    margin: 0px;
    padding: 0;
    background-color: grey;
}

header {
    text-align: center;
}

header h1 {
    color: var(--theme);
}

header p {
    color:white;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.box {
    /* content: attr(subtitle); */
    flex: 1 0 200px;
    padding: 100px;
    margin: 10px;
    border: dashed 1px var(--border)
}

footer{
    text-align: center;
    color: var(--theme)
}

@media screen and (min-width: 768px) {

}